.DS_Store
.vscode
.idea

bin
target
lib
include

.Python
pip-selfcheck.json

db.sqlite3

__pycache__
*.pyc

*.log
metastore_db/

/share
/static/media/input/*.json
/static/media/output/*.json
/static/media/tmp/*.json
