<form method="post">

    <!-- Text input -->
    <div class="form-group bottom-buffer-10px">
        <label for="password">New Password</label>
        <input name="password" class="form-input form-control" type="password" value="" id="password" placeholder="Insert your new password"
        />
    </div>

    <!-- Text input -->
    <div class="form-group bottom-buffer-10px">
        <label for="password_repeat">Repeat Password</label>
        <input name="password_repeat" class="form-input form-control" type="password" value="" id="password_repeat" placeholder="Repeat your new password"
        />
    </div>

    <!-- Submit button -->
    <div class="form-group">
        <button type="submit" class="btn button-gray btn-load btn-md top-buffer-5px" data-loading-text="<Changing></Changing> password...">Update Password</button>
    </div>
</form>