<form method="post" id="password-form" class="form-inline">

    <!-- Text input -->
    <div class="form-group" style="margin-top: 0px;">
        <label for="password">New Password</label>
        <input name="password" class="form-input form-control" type="password" value="" id="password" placeholder="Insert your new password"
        />
    </div>

    <!-- Text input -->
    <div class="form-group">
        <label for="password_repeat">Repeat Password</label>
        <input name="password_repeat" class="form-input form-control" type="password" value="" id="password_repeat" placeholder="Repeat your new password"
        />
    </div>

    <!-- Submit button -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-load btn-lg" data-loading-text="<Changing></Changing> password...">Update Password</button>
    </div>
</form>