<script src="/static/js/scripts.js"></script>
<script src="/static/js/jasny-bootstrap.min.js"></script>
<link href="/static/styles/jasny-bootstrap.min.css" rel="stylesheet">

<div id="edit-profile-form" class="form-inline" role="form" data-toggle="validator"  ng-controller="MyaccountController">

  <div class="row">

    <div class="col-md-58">

      <!-- Text input -->
      <div class="form-group">
        <label class="col-md-30 control-label">First Name</label>
        <div class="col-md-70 inputGroupContainer control-input">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="first_name" placeholder="{{ user.first_name }}" ng-value="user.first_name" ng-model="user.first_name" class="form-control form-input" type="text">
          </div>
        </div>
      </div>

      <!-- Text input -->
      <div class="form-group">
        <label class="col-md-30 control-label">Last Name</label>
        <div class="col-md-70 inputGroupContainer control-input">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-tower"></i></span>
            <input name="last_name" placeholder="{{ user.last_name }}" ng-value="user.last_name" ng-model="user.last_name" class="form-control form-input" type="text">
          </div>
        </div>
      </div>

      <!-- Text input -->
      <div class="form-group">
        <label class="col-md-30 control-label">E-Mail</label>
        <div class="col-md-70 inputGroupContainer control-input">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input name="email" placeholder="{{ user.email }}" ng-value="user.email" ng-model="user.email" class="form-control form-input" type="text">
          </div>
        </div>
      </div>

      <!-- Text input -->
      <div class="form-group">
        <label class="col-md-30 control-label">Phone</label>
        <div class="col-md-70 inputGroupContainer control-input">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="phone" placeholder="{{ user.profile.phone }}" class="form-control form-input bfh-phone" type="text" data-format="+48 ddd-ddd-ddd">
          </div>
        </div>
      </div>

      <!-- Text input -->
      <div class="form-group" style="margin-bottom: 10px;">
        <label class="col-md-30 control-label">Website</label>
        <div class="col-md-70 inputGroupContainer control-input">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
            <input name="website" placeholder="Website URL" class="form-control form-input" type="text">
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-42 col-sm-100 col-xs-100 text-center">

      <!-- Image fields -->
      <div class="fileinput fileinput-new form-group" data-provides="fileinput">

        <div class="fileinput-new thumbnail photo-thumbnail">
          <img src="static/images/default-user.jpg" class="img-circle">
        </div>
        <div class="fileinput-preview fileinput-exists thumbnail photo-thumbnail">
        </div>
        <div>

          <span class="btn btn-default btn-file" style="width: 190px; margin-bottom: 5px;">
            <span class="fileinput-new">Select image</span>
          <span class="fileinput-exists">Change</span>
          <input type="file" name="...">
          </span>
          <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput" style="width: 190px; margin-bottom: 5px;">Remove</a>
        </div>
      </div>

    </div>

    <!-- Submit button -->
    <div class="form-group">
      <button class="btn btn-primary btn-load btn-lg" ng-click="submit()" data-loading-text="Updating profile...">Update Profile</button>
    </div>


  </div>
</div>