<div class="container-fluid content-margin">

    <div class="row">
        <div class="main-box  col-xs-12 col-lg-10">
            <div class="well">
                <p class="well lead text-center">About GRAVIsim</p>
                <fieldset id="info" style="line-height: 28px;">
                    <p>&nbsp;&nbsp;&nbsp;GRAVIsim to z jednej strony narzędzie pozwalające zarządzać klastrem obliczeniowym
                        złożonym z dowolnej liczby komputerów klasy PC w celu wykonywania konkretnych obliczeń na sieci rozproszonej,
                        z drugiej - jest to prosta i przyjazna w użytkowaniu aplikacja internetowa. Zalogowany użytkownik
                        może dzięki niej wykorzystać potencjał obliczeniowy klastra do symulowania zderzeń grawitacyjnych
                        dowolnej liczby obiektów kosmicznych (np. planet, gwiazd, gromad, galaktyk). Aplikacja obsługuje
                        cały proces takiego zadania zaczynając od utworzenia danych wejściowych, poprzez zlecenie pomiarów,
                        jego monitorowanie, kończąc aż na analizie danych końcowych i jej graficznej wizualizacji.</p>
                    <p style="font-weight: bold; font-size: 18px; margin-top: 35px">Cel projektu</p>
                    <p>Zbudowanie aplikacji internetowej, która poprzez interfejs użytkownika umożliwi obsługę zadań wykonywanych
                        na systemie rozproszonym. Użytkowanie aplikacji możliwe jest poprzez dostęp do hermetycznego systemu,
                        do którego użytkownik może dostać się jedynie poprzez poprawne jego zarejestrowanie w bazie przez
                        administratora, a następnie zalogowanie do serwisu. Użytkownik systemu GRAVIsim po poprawnym zalogowaniu
                        może wykonać następujące funkcjonalności:</p>
                    <ul>
                        <li>Generować dane wejściowe symulacji</li>
                        <li>Zlecać zadania z wcześniej wygenerowanego pliku</li>
                        <li>Zarządzać zadaniami – parametry takie jak: tytuł, opis, ilość iteracji, priorytet, status zadania</li>
                        <li>Obserwować postęp prowadzonej symulacji</li>
                        <li>Analizować wynik symulacji</li>
                    </ul>
                </fieldset>
            </div>
        </div>
    </div>

</div>