<div class="container-fluid my-account-site">
    <div class="row">
        <div class="well main-box">


            <p class="well lead">My Completed Tasks</p>
            <table class="table table-hover gravi-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Priority</th>
                        <th>Created</th>
                        <th>Started</th>
                        <th>Finished</th>
                        <th>Status</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users | orderBy : 'id'">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.description }}</td>
                        <td>{{ user.priority }}</td>
                        <td>{{ user.created }}</td>
                        <td>{{ user.started }}</td>
                        <td>{{ user.finished }}</td>
                        <td class="task-completed">{{ user.state }}</td>
                        <td>Show details</td>
                    </tr>
                </tbody>
            </table>

        </div>
 

    </div>

</div>






