<div class="container-fluid content-margin">
    <div class="row">

        <div class="main-box col-md-12 col-lg-7">
            <div class="well">
                <p class="well lead text-center">Contact Form</p>
                <contactform></contactform>
            </div>
        </div>

        <div class="main-box col-md-12 col-lg-4">
            <div class="well text-center overflow-auto">
                <p class="well lead text-center">Administrators</p>

                <div class="admin-info bottom-buffer-15px top-buffer-10px col-md-6 col-lg-12">
                    <img src="static/images/admin-blaszczyk.jpg" class="img-circle" alt="Jakub Błaszczyk" width="110px">
                    <h4><strong>Jakub Błaszczyk</strong></h4>
                    <p style="margin-top: -10px; font-size: 12px; font-style: italic;">Backend Lider</p>
                    <p>j.blaszczyk@gravisim.com<br /> +48 702 430 209</p>
                </div>

                <div class="admin-info bottom-buffer-15px  col-md-6 col-lg-12">
                    <img src="static/images/admin-dlubak.jpg" class="img-circle" alt="Adam Dłubak" width="110px">
                    <h4><strong>Adam Dłubak</strong></h4>
                    <p style="margin-top: -10px; font-size: 12px; font-style: italic;">Frontend Lider</p>
                    <p>a.dlubak@gravisim.com<br /> +48 669 277 242</p>
                </div>

            </div>
        </div>

    </div>
</div>