<div class="container-fluid contact-site">

    <div class="row">

        <div class="main-box">
            <div class="well">
                <p class="well lead text-center">Contact Form</p>
                <contactform></contactform>
            </div>
        </div>

        <div class="right-box">
            <div class="well">
                <p class="well lead text-center">Administrator Informations</p>

                <div class="row">

                    <div class="admin-info">
                        <div class="row">
                            <div class="admin-image">
                                <img src="static/images/user.jpg" class="img-circle user-image" alt="Adam Dłubak" width="110px">
                            </div>
                            <div class="admin-describtion">
                                <h4><strong>Adam Dłubak</strong></h4>
                                <p style="margin-top: -9px; font-size: 12px;">System Administrator</p>
                                <p>Phone:<strong> &nbsp; +48 669 277 242</strong></p>
                                <p>Email:<strong> &nbsp; adam.dlubak@gmail.com</strong></p>
                            </div>
                        </div>
                    </div>

                    <div class="admin-info">
                        <div class="row">
                            <div class="admin-image">
                                <img src="static/images/user2.jpg" class="img-circle user-image" alt="Jakub Błaszczyk" width="110px">
                            </div>
                            <div class="admin-describtion">
                                <h4><strong>Jakub Błaszczyk</strong></h4>
                                <p style="margin-top: -10px; font-size: 12px;">Technical Administrator</p>
                                <p>Phone:<strong> &nbsp; &nbsp; +48 702 430 209</strong></p>
                                <p>Email:<strong> &nbsp; jakub.blaszczyk@gmail.com</strong></p>
                            </div>
                        </div>
                    </div>

                    <div class="admin-info">
                        <div class="row">
                            <div class="admin-image">
                                <img src="static/images/user3.jpg" class="img-circle user-image" alt="Artur Schulz" width="110px">
                            </div>
                            <div class="admin-describtion">
                                <h4><strong>Artur Schulz</strong></h4>
                                <p style="margin-top: -10px; font-size: 12px;">Technical Administrator</p>
                                <p>Phone:<strong> &nbsp; &nbsp; +48 721 256 219</strong></p>
                                <p>Email:<strong> &nbsp; &nbsp; &nbsp; artur.schulz@gmail.com</strong></p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>