<div class="container-fluid my-account-site">
    <div class="row">
        <div class="well main-box" style="max-width: none; width: 90%;">
            <p class="well lead">My Current Tasks</p>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Action Time</th>
                        <th>Ordered</th>
                        <th>Started</th>
                        <th>Status</th>
                        <th>Actions</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr ng-repeat="user in users">-->
                    <tr>
                        <td>1</td>
                        <td>Badanie gwiazdozbioru Oranzy</td>
                        <td style="max-width: 400px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the since the 1500s, when...</td>
                        <td>3:14:65</td>
                        <td>20.04.2017 13:45:43</td>
                        <td>20.04.2017 14:15:45</td>
                        <td style="color: orange; font-weight: bold;">Paused</td>
                        <td>Cancel  |  Restore</td>
                        <td>Show Details</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Badanie gwiazdozbioru Słonia</td>
                        <td style="max-width: 400px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the since the 1500s, when...</td>                        
                        <td>3:14:65</td>
                        <td>20.04.2017 13:45:43</td>
                        <td>20.04.2017 14:15:45</td>
                        <td style="color: green; font-weight: bold;">Active</td>
                        <td>Cancel  |  Pause</td>                        
                        <td>Show Details</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Badanie gwiazdozbioru Tygrysa</td>
                        <td style="max-width: 400px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the since the 1500s, when...</td>
                        <td>3:14:65</td>
                        <td>20.04.2017 13:45:43</td>
                        <td>20.04.2017 14:15:45</td>
                        <td style="color: green; font-weight: bold;">Active</td>
                        <td>Cancel  |  Pause</td>                        
                        <td>Show Details</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Kolonizacja Marsa</td>
                        <td style="max-width: 400px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the since the 1500s, when...</td>
                        <td>3:14:65</td>
                        <td>20.04.2017 13:45:43</td>
                        <td>20.04.2017 14:15:45</td>
                        <td style="color: orange; font-weight: bold;">Paused</td>
                        <td>Cancel  |  Restore</td>                        
                        <td>Show Details</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Badanie Drogi Mlecznej</td>
                        <td style="max-width: 400px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the since the 1500s, when...</td>
                        <td>3:14:65</td>
                        <td>20.04.2017 13:45:43</td>
                        <td>20.04.2017 14:15:45</td>
                        <td style="color: green; font-weight: bold;">Active</td>
                        <td>Cancel  |  Pause</td>                        
                        <td>Show Details</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>