<div class="container-fluid about-us-site">
    <div class="row">
        <div class="main-box">
            <div class="well">
                <p class="well lead text-center">Simulation Demo</p>
                <div class="text-center">
                    <div class="btn-group" role="group" aria-label="Simulations">
                        <button type="button" class="btn btn-default"
                                ng-repeat="item in views track by $index"
                                ng-click="changeTo($index)">
                            Simulation {{ $index + 1 }}
                        </button>
                    </div>
                </div>

                <hr/>

                <simulator ng-repeat="item in views track by $index"
                           ng-if="active == $index"
                           url="item">
                </simulator>
            </div>
        </div>
    </div>
</div>
