<!--<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">GRAVIsim</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/about')}"><a href="about">About</a></li>
                <li ng-class="{ active: isActive('/simulate')}"><a href="simulate">Simulate</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                        role="button" aria-haspopup="true" aria-expanded="false">
                        {{ username }}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>-->

<script type="text/javascript">
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("active");
  });

  $(window).innerWidth(function () {
    if ($(window).width() <= 767) {
      $("#wrapper").removeClass("active");
    }
    else {
      $("#wrapper").addClass("active");
    }
  });
  // For example, get window size on window resize
  $(window).resize(function () {
    if ($(window).width() <= 767) {
      $("#wrapper").removeClass("active");
    }
    else {
      $("#wrapper").addClass("active");
    }
  });

</script>

<div id="sidebar-wrapper">
  <ul id="sidebar_menu" class="sidebar-nav">
    <li><a id="menu-toggle" href="#"><span id="main_icon" class="glyphicon glyphicon-align-justify" ></span></a></li>
    <li class="sidebar-brand"></li>
  </ul>
  <ul class="sidebar-nav" id="sidebar">
    <li><a>My Dashboard<span class="sub_icon glyphicon glyphicon-home"></span></a></li>
    <li><a>Administration<span class="sub_icon glyphicon glyphicon-star-empty"></span></a></li>
    <li><a>Preference<span class="sub_icon glyphicon glyphicon-globe"></span></a></li>
    <li><a>Calculations<span class="sub_icon glyphicon glyphicon-eye-open"></span></a></li>
    <!--<li>Logout<span class="sub_icon glyphicon glyphicon-off"></span>/li>-->
  </ul>

  <ul class="sidebar-nav" id="sidebar" style="position: absolute; bottom: 0px;">
    <li>
      <div class="row">
        <a data-toggle="modal" data-target=".bs-example-modal-sm" style="background: none; border: 0px; float: none">

          <div class="col-xs-15" style="padding-left: 0px;">
            <img src="static/images/user.jpg" class="img-circle user-image" alt="Cinque Terre" width="40" height="40">
          </div>

          <div class="col-xs-70" style="color: #BBB; font-weight: bold; font-size: 14px; padding-left: 5px; line-height: 15px;">
            <p style="font-size: 8px; font-weight: normal;  margin: 7px 0 0 0; line-height: 0px;">Logged as:</p> <br />
            <p style="font-size: 14px; line-height: 8px; padding-left: 10px;">Adam Dłubak</p>
          </div>

          <div class="col-xs-10">
            <span class="sub_icon glyphicon glyphicon-off" style="color: rgb(153, 153, 153); padding-right: 4px;"></span>
          </div>
          </a>
      </div>

      
    </li>
    <li><a href="my-account">My account<span class="sub_icon glyphicon glyphicon-user"></span></a></li>
    <li><a href="/contact">Contact with admin<span class="sub_icon glyphicon glyphicon-envelope"></span></a></li>
    <li><a href="/about">About us<span class="sub_icon glyphicon glyphicon-bullhorn"></span></a></li>
    <li class="footer">&copy; 2017 GRAVIsim. All Right Reserved</li>
    <li class="footer-active">&copy;</li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->


<!-- Small modal -->

<div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Logout <i class="fa fa-lock"></i></h4>
      </div>
      <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to log-off?</div>
      <div class="modal-footer"><a href="javascript:;" class="btn btn-primary btn-block">Logout</a></div>
    </div>
  </div>
</div>