<script type="text/javascript">
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("active");
  });

  $(window).innerWidth(function () {
    if ($(window).width() <= 767) {
      $("#wrapper").removeClass("active");
    }
    else {
      $("#wrapper").addClass("active");
    }
  });
  // For example, get window size on window resize
  $(window).resize(function () {
    if ($(window).width() <= 767) {
      $("#wrapper").removeClass("active");
    }
    else {
      $("#wrapper").addClass("active");
    }
  });

</script>

<div id="sidebar-wrapper"  ng-controller="HeaderController">
  <ul id="sidebar_menu" class="sidebar-nav">
    <li><a id="menu-toggle" href="#"><span id="main_icon" class="glyphicon glyphicon-align-justify" ></span></a></li>
    <li class="sidebar-brand"></li>
  </ul>
  <ul class="sidebar-nav" id="sidebar">
    <li><a href="/my-dashboard">My Dashboard<span class="sub_icon glyphicon glyphicon-home"></span></a></li>
 
    <li><a href="/current-tasks">Current Tasks<span class="sub_icon glyphicon glyphicon-eye-open"></span></a></li>
    <li><a href="/completed-tasks">Completed Tasks<span class="sub_icon glyphicon glyphicon-eye-open"></span></a></li>
 
    <li><a href="/order-task-with-file">Order Task with File<span class="sub_icon glyphicon glyphicon-globe"></span></a></li>
    <li><a href="/order-task-manually">Order Task Manually<span class="sub_icon glyphicon glyphicon-globe"></span></a></li>
    
    <li><a>Administration<span class="sub_icon glyphicon glyphicon-star-empty"></span></a></li>
    <li><a href="/users" style="padding-left: 20px;">Users<span class="sub_icon glyphicon glyphicon-tower"></span></a></li>    
    <li><a href="/users" style="padding-left: 20px;">Tasks<span class="sub_icon glyphicon glyphicon-th-list"></span></a></li>    
    <li><a href="/users" style="padding-left: 20px;">Logs<span class="sub_icon glyphicon glyphicon-list-alt"></span></a></li>    
    <li><a href="/users" style="padding-left: 20px;">Messages<span class="sub_icon glyphicon glyphicon-inbox"></span></a></li>   
  </ul>

  <ul class="sidebar-nav" id="sidebar" style="position: absolute; bottom: 0px;">
    <li>
      <div class="row">
        <a data-toggle="modal" data-target=".bs-example-modal-sm" style="background: none; border: 0px; float: none">

          <div class="col-xs-15" style="padding-left: 0px;">
            <img src="static/images/user.jpg" class="img-circle user-image" alt="Cinque Terre" width="40" height="40">
          </div>

          <div class="col-xs-70" style="color: #BBB; font-weight: bold; font-size: 14px; padding-left: 5px; line-height: 15px;">
            <p style="font-size: 8px; font-weight: normal;  margin: 7px 0 0 0; line-height: 0px;">Logged as:</p> <br />
            <p style="font-size: 14px; line-height: 8px; padding-left: 10px;">{{ user.first_name }} {{ user.last_name }}</p>
          </div>

          <div class="col-xs-10">
            <span class="sub_icon glyphicon glyphicon-off" style="color: rgb(153, 153, 153); padding-right: 4px;"></span>
          </div>
          </a>
      </div>

      
    </li>
    <li><a href="my-account">My account<span class="sub_icon glyphicon glyphicon-user"></span></a></li>
    <li><a href="/contact">Contact with admin<span class="sub_icon glyphicon glyphicon-envelope"></span></a></li>
    <li><a href="/about">About us<span class="sub_icon glyphicon glyphicon-bullhorn"></span></a></li>
    <li class="footer">&copy; 2017 GRAVIsim. All Right Reserved</li>
    <li class="footer-active">&copy;</li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->


<!-- Small modal -->

<div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="HeaderController">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Logout <i class="fa fa-lock"></i></h4>
      </div>
      <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to log-off?</div>
      <div class="modal-footer"><a href ng-click="logout()" class="btn btn-primary btn-block">Logout</a></div>
    </div>
  </div>
</div>