<h1 class="login-box-header">GRAVIsim</h1>

<div id="login-box" ng-if="!registerView">
    <p class="red-text" ng-class="{'no-visible' : !loginError }">Invalid email or password</p>
    <input ng-class="{'error' : loginError }" type="text" ng-value="loginData.email"  ng-model="loginData.email" placeholder="Email" />
    <input ng-class="{'error' : loginError }" type="password" ng-value="loginData.password" ng-model="loginData.password" placeholder="Password" />
    <button ng-click="login()">Submit</button>
</div>

<div id="register-box" ng-if="registerView">
    <p class="red-text" ng-class="{'no-visible' : !loginError }">Invalid fields</p>
    <input name="email" ng-class="{'error' : loginError }" type="text" ng-model="registerData.email" ng-value="registerData.email" placeholder="Email" />
    <input name="password" ng-class="{'error' : loginError }" type="password" ng-model="registerData.password" ng-value="registerData.password" placeholder="Password" />
    <input name="password2" ng-class="{'error' : loginError }" type="password" ng-model="registerData.password2" ng-value="registerData.password2" placeholder="Confirm Password" />
    <input name="first_name" ng-class="{'error' : loginError }" type="text" ng-model="registerData.firstName" ng-value="registerData.firstName" placeholder="First Name" />
    <input name="last_name" ng-class="{'error' : loginError }" type="text" ng-model="registerData.lastName" ng-value="registerData.lastName" placeholder="Last Name" />
    <input name="account" ng-class="{'error' : loginError }" type="text" ng-model="registerData.account" ng-value="registerData.account" placeholder="Account" />
    <button ng-click="register()">Register</button>
</div>

<button ng-click="changeView()">{{ changeButtonMsg }}</button>