<div class="modal fade text-center" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="HeaderController">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                   </button>
                <h4> Logout <i class="fa fa-lock"></i></h4>

            </div>
            <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to log-off?</div>
            <div class="modal-footer">

                <a href ng-click="logout()" data-dismiss="modal" class="btn button-gray btn-block">Logout</a></div>

        </div>
    </div>
</div>