<div class="container-fluid content-margin">
  <div class="row">

    <div class="main-box col-md-12 col-lg-7">
      <div class="well">
        <p class="well lead text-center">Edit My Profile</p>
        <editprofile></editprofile>

      </div>
    </div>

    <div class="main-box col-md-12 col-lg-4" style="margin-bottom: 0px; ">
      <div class="well">
        <p class="well lead text-center">Change Login</p>
          <changelogin></changelogin>
      </div>
    </div>

    <div class="main-box col-md-12 col-lg-4">
      <div class="well">
        <p class="well lead text-center">Change Password</p>
          <changepassword></changepassword>
      </div>
    </div>



  </div>
</div>