<div class="container-fluid my-account-site" style="max-width: 1300px; margin-left: 0px;">




  <div class="row">

    <div class="well main-box">
      <p class="well lead">Edit My Profile</p>
      <editprofile></editprofile>
    </div>

    <div class="right-box">

      <div class="row">

        <div class="well box">
          <p class="well lead text-center">Change Login</p>
          <changelogin></changelogin>
        </div>


        <div class="well box">
          <p class="well lead text-center">Change Password</p>
          <changepassword></changepassword>
        </div>

      </div>

    </div>

  </div>

</div>