<div class="container-fluid my-account-site" style="max-width: 1300px; margin-left: 0px;">
    <div class="row">
        <div class="col-xs-9">

            <div class="well main-box">

                <p class="well lead">My Last Tasks</p>


                <table class="table table-hover gravi-table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Priority</th>
                            <th>Calculation time</th>
                            <th>Created</th>
                            <th>Started</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="task in tasks | orderBy : '-created' | limitTo: 5" style="border: 0px;">
                        <tr id="tasks-list">
                            <td>{{ task.id }}</td>
                            <td>{{ task.name }}</td>
                            <td><span ng-style="{color: getPriorityColor(task.priority)}" class="task-status">{{ task.priority }}</span></td>
                            <td>{{ task.calculationTime }}</td>
                            <td>{{ task.createdDate }}<br />{{ task.createdTime }}</td>
                            <td>{{ task.startedDate }}<br />{{ task.startedTime }}</td>
                            <td><span ng-style="{color: getStateColor(task.state)}" class="task-status">{{ task.state }}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="well main-box">
                <p class="well lead">My Profile</p>

                <!-- Image fields -->
                <div class="fileinput fileinput-new form-group" data-provides="fileinput">

                    <div class="fileinput-new thumbnail photo-thumbnail">
                        <img src="static/images/user.jpg" class="img-circle">
                    </div>


                </div>
                <div style="font-weight: bold;">
                    <p style="margin-bottom: -2px;">{{ user.first_name }} {{ user.last_name }}</p>
                    <p ng-if="user.is_superuser" style="font-weight: normal; font-size: 12px;">Administrator</p>
                    <p ng-if="!user.is_superuser" style="font-weight: normal; font-size: 12px;">Użytkownik</p>
                    <p>{{ user.email }}</p>

                    <hr>
                </div>
                <div style="text-align: left">
                    <p style="margin-top: 20px"><span class="glyphicon glyphicon-th-large" />&nbsp; All my tasks: <b>{{ tasksAmt[4] }}</b></p>
                    <hr>
                    <p><span class="glyphicon glyphicon-tags text-danger" />&nbsp; Suspended: <b>{{ tasksAmt[3] }}</b></p>
                    <p><span class="glyphicon glyphicon-hourglass text-primary" />&nbsp; Waiting: <b>{{ tasksAmt[0] }}</b></p>
                    <p><span class="glyphicon glyphicon-cog text-warning" />&nbsp; Running: <b>{{ tasksAmt[1] }}</b></p>
                    <p><span class="glyphicon glyphicon-flag text-success" />&nbsp; Finished: <b>{{ tasksAmt[2] }}</b></p>
                </div>
                <div ng-if="user.is_superuser" class="form-group">
                    <hr>

                    <a href="/manage-users"><button class="btn button-gray btn-load btn-md">Manage Users</button></a>
                </div>
                <div ng-if="user.is_superuser" class="form-group">
                    <a href="/manage-tasks"><button class="btn button-gray btn-load btn-md">Manage Tasks</button></a>
                </div>
            </div>
        </div>
    </div>
</div>