<div class="col-md-12 col-lg-6">
    <div class="well">
        <p class="well lead text-center">Order Task Using File</p>

        <form  method="POST" enctype="multipart/form-data" id="order-task">

<input name="csrfmiddlewaretoken" value="gGyyccVw03FUDOsZPQK3xF9Fj6VazZCdbV4YKp9KLpBJQqzMhyHsSoLm5pE3JiJF" type="hidden">

            <!-- Text input -->
            <div class="form-group" style="margin-top: 0px;">
                <label for="title">Title</label>
                <input name="name" class="input-size form-control" type="text" ng-value="taskData.name" ng-model="taskData.name" id="name" placeholder="Title of task" />
            </div>

            <!-- Text input -->
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control input-size" name="description" ng-value="taskData.description" ng-model="taskData.description" placeholder="Description..." rows="4" id="description"></textarea>
            </div>

            <!-- Text input -->
            <div class="form-group">
                <label for="inputFile">File with simulation</label>
                <div class="input-group">
                    <label class="input-group-btn">
                            <span class="btn button-gray">
                                Browse&hellip; <input type="file" class="input-size form-control" ng-value="taskData.inputFile" ng-model="taskData.inputFile" style="display: none;" name="inputFile" ng-model="filepath">
                            </span>
                        </label>
                    <input type="text" class="form-control" readonly ng-value="filename">
                </div>
            </div>

            <!-- Text input -->
            <div class="form-group" style="margin-top: 0px;">
                <label for="iterations">Iterations</label>
                <input type="range" name="amountRange" style="color: red" min="0" max="10000" value="0" oninput="this.form.iterations.value=this.value"
                />
                <input type="text" name="iterations" ng-value="taskData.iterations" ng-model="taskData.iterations" class="form-control input-size" min="0" max="10000" value="0" oninput="this.form.amountRange.value=this.value"
                />
            </div>

            <!-- Text input -->
            <div class="form-group" style="margin-top: 0px;">
                <label for="title">Priority</label>

                <div class="input-group">
                    <div id="radioBtn" class="btn-group" name="priority">
                        <span style="padding: 8px 17px;" class="btn btn-default btn-sm notActive" data-toggle="estadotwo" data-value="4">Urgent</span>
                        <span style="padding: 8px 17px;" class="btn btn-default btn-sm notActive" data-toggle="estadotwo" data-value="3">High</span>
                        <span style="padding: 8px 17px;" class="btn button-gray btn-sm active" data-toggle="estadotwo" data-value="2">Normal</span>
                        <span style="padding: 8px 17px;" class="btn btn-default btn-sm notActive" data-toggle="estadotwo" data-value="1">Low</span>
                    </div>
                    <input type="hidden" name="estadotwo" id="estadotwo" ng-value="taskData.priority" ng-model="taskData.priority">
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    // Use only for V1
                    $('#radioBtn span').on('click', function () {
                        var sel = $(this).data('value');
                        var tog = $(this).data('toggle');
                        $('#' + tog).val(sel);
                        // You can change these lines to change classes (Ex. btn-default to btn-danger)
                        $('span[data-toggle="' + tog + '"]').not('[data-value="' + sel + '"]').removeClass('active button-gray').addClass('notActive btn-default');
                        $('span[data-toggle="' + tog + '"][data-value="' + sel + '"]').removeClass('notActive btn-default').addClass('active button-gray');
                    });

                    // Use only for V2
                    $('#radioBtnV2 span').on('click', function () {
                        var sel = $(this).data('value');
                        var tog = $(this).data('toggle');
                        var active = $(this).data('active');
                        var classes = "btn-default button-gray btn-success btn-info btn-warning btn-danger btn-link";
                        var notactive = $(this).data('notactive');
                        $('#' + tog).val(sel);
                        $('span[data-toggle="' + tog + '"]').not('[data-value="' + sel + '"]').removeClass('active ' + classes).addClass('notActive ' + notactive);
                        $('span[data-toggle="' + tog + '"][data-value="' + sel + '"]').removeClass('notActive ' + classes).addClass('active ' + active);
                    });
                });
            </script>

            <!-- Submit button -->
            <div class="form-group">
                <button type="submit" ng-click="sendTask()" class="btn button-gray btn-load btn-lg top-buffer-15px " data-loading-text="password...">Order Task</button>
            </div>
        </form>

    </div>