<div class="col-sm-5 col-xs-12">
    <div class="row">
        <div class="form-group">
            <label class="sr-only" for="exampleInputAmount">Frame</label>
                            <div class="input-group bottom-buffer-10px">
                <div class="input-group-addon">Frame</div>
                <div class="form-control">
                    <input type="range" min="0" max="{{ maxFrame }}" step="1" ng-model="frame" ng-value="frame" ng-change="changeFrame()" />
                </div>
                <div class="input-group-addon" style="width: 55px;">{{ frame }}</div>
            </div>

            <label class="sr-only" for="exampleInputAmount">FPS</label>
                            <div class="input-group bottom-buffer-10px">
                <div class="input-group-addon">&nbsp;&nbsp;FPS &nbsp;</div>
                <div class="form-control">
                    <input type="range" min="0.2" max="4.0" step="0.2" ng-model="factor" ng-value="factor" ng-change="updateFPS()" />
                </div>
                <div class="input-group-addon" style="width: 55px;">{{ fps }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 vertical-margin">
            <span class="btn btn-default col-xs-12" ng-class="{'notActive':!pause, 'active':pause}" ng-click="changePause()">
                    Pause
                </span>
        </div>
        <div class="col-xs-8 col-xs-offset-2 vertical-margin">
            <span class="btn btn-default col-xs-12" ng-click="fullscreen()">
                    FullScreen
                </span>
        </div>
        <div class="col-xs-12 vertical-margin">
            <hr/>
        </div>
        <div class="col-xs-8 col-xs-offset-2 vertical-margin">
            <a ng-href="{{ file }}" target="_blank" download="output.json">
                    <span class="btn btn-lg button-gray col-xs-12">
                        Download Data
                    </span>
                </a>
        </div>
    </div>
</div>
<div class="col-sm-7 col-xs-12">
    <canvas id="simulation-canvas" class="simulator"
            width="1600" height="1600" ng-click="fullscreen()">
        Your browser doesn't support canvases
    </canvas>
</div>
