<div class="container-fluid content-margin">

    <div class="row">
        <div class="well main-box  col-xs-12 col-lg-10">


            <div class="well lead" style="display: inline-block; width: 100%; text-align: center">
                <a href="/my-tasks"><button class="btn button-gray btn-load btn-md" style="float: left; width: 100px;">Back</button></a>
                <span>#{{ id }} - {{ task.name }}</span>
                <a ng-if="task.state == 'Suspended'" href=""><button class="btn button-gray btn-load btn-md" style="float: right; width: 100px;">Delete</button></a>
                <a ng-if="task.state == 'Suspended'" ng-href="/task-details-edit?id={{ task.id }}">
                    <button class="btn button-gray btn-load btn-md" style="float: right; width: 100px; margin-right: 5px;">Edit</button>
                </a>

                <button ng-if="task.state != 'Suspended'" class="btn button-gray btn-load btn-md disabled" style="float: right; width: 100px; opacity: .92">Delete</button>
                <button ng-if="task.state != 'Suspended'" class="btn button-gray btn-load btn-md disabled" style="float: right; width: 100px; margin-right: 5px; opacity: .92">Edit</button>
            </div>


            <div class="col-md-4" style="text-align: left;">
                <p style="min-height: 200px; text-align: justify; margin-top: 25px; white-space: pre-line">{{ task.description }}</p>

                <div class="form-group">
                    <button class="btn btn-md" ng-class="stateButtonClass()" ng-click="changeState()">{{ stateButtonLabel }}</button>
                </div>

                <div class="col-md-6">
                    <p>Priority:</p>
                    <p>Iterations:</p>
                    <p>Created date:</p>
                    <p>Started date:</p>
                    <p>Finished date:</p>
                </div>

                <div class="col-md-6"></div>

                <p><b>{{ task.priority}}</b></p>
                <p><b>{{ task.iterations }}</b></p>
                <p><b>{{ task.createdDate }} {{ task.createdTime }}</b></p>
                <p><b>{{ task.startedDate }} {{ task.startedTime }}</b></p>
                <p><b>{{ task.finishedDate }} {{ task.finishedTime }}</b></p>
                <p></p>
            </div>

            <div class="col-md-8">
                <h3>Listing job:</h3>
                <div>
                    <logger style="text-align: left;"></logger>
                </div>
            </div>

        </div>
    </div>

    <div class="row" ng-if="stateisCompleted(task.state)">
        <div class="well main-box col-xs-12 col-lg-10">

            <p class="well lead text-center">Simulation</p>

            <simulator url="getSimulationFile()"></simulator>
        </div>
    </div>

</div>