<!DOCTYPE html>
<html lang="en" ng-app="gravisim">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GRAVIsim</title>
        <link href="http://fonts.googleapis.com/css?family=Advent+Pro:200&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="/static/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/styles/style.css" rel="stylesheet">
        
        <script src="/static/lib/jquery/dist/jquery.min.js"></script>
        <script src="/static/lib/angular/angular.min.js"></script>
        <script src="/static/lib/angular-route/angular-route.min.js"></script>
        <script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/static/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        
        <script src="/static/configs/modules.config.js"></script>

        <script src="/static/controllers/main.controller.js"></script>
        <script src="/static/controllers/about.controller.js"></script>
        <script src="/static/controllers/simulate.controller.js"></script>
        <script src="/static/controllers/header.controller.js"></script>


    </head>
    <body ng-controller="MainController as main">

        <div class="container">
            <nav class="navbar navbar-default" ng-controller="HeaderController as hc">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">GRAVIsim</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li ng-class="{ active: isActive('/about')}"><a href="about">About</a></li>
                            <li ng-class="{ active: isActive('/simulate')}"><a href="simulate">Simulate</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{hc.username}} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div ng-view></div>
            <footer>
            
            </footer>
        </div>
    </body>
</html>