body {
    font-family: 'Raleway',sans-serif;
    color: #eee;
}

.logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    height: 100px;
    width: 100%;
}
h4.login-header {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
