    @import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

.hiddenRow {
    padding: 0 !important;
}

.site-offset{
    margin-left: 255px;
    margin-bottom: 20px;
}


.accordion-toggle td.arrow-in-list:after {
        font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
            content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    position: relative;
    top: 1px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.accordion-toggle.collapsed td.arrow-in-list:after {
        content: "\e079";    /* adjust as needed, taken from bootstrap.css */

}
body {
    font-family: 'Raleway',sans-serif;
    color: #000;
}

.logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    height: 100px;
    width: 100%;
}
h4.login-header {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.button-blue {background: #1b5a7c; border-radius: 4px; height: 42px; padding: 8px 12px; font-weight: bold;}
.button-blue:hover { text-decoration: underline; background: #144b68; transition-duration: 0.2s; }

@media(max-width: 1200px) {
    .top-buffer-25 { margin-top: 15% !important; }
}
/*---------------------- GENERAL ----------------------*/
.top-buffer-10 { margin-top: 10%; }
.top-buffer-25 { margin-top: 25%; }
.top-buffer-25px { margin-top: 25px; }
.top-buffer-15px { margin-top: 15px; }
.left-buffer-20px { margin-left: 20px; }
.button-gray { background-color: #333; color: #eee;}
.button-gray:hover { background-color: #222; color: #eee; transition: 0.4s }
.text-center { text-align: center; }
.task-status { font-weight: bold; }
.input-size { height: 42px; padding: 8px 12px; font-size: 14px; line-height: 1.42857143; border-radius: 4px; }
.site-bg-index {

    height: 100%;
    width: 100%;
    background-image: url(../images/pattern_bg.png);   
    position: fixed;
    overflow-y: scroll;
}













input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6.65px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6.7px;
  cursor: pointer;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(40, 96, 143, 0.78);
  border-radius: 25px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(3, 0, 0, 0), 0px 0px 0px rgba(29, 0, 0, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #333333;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.65px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(40, 96, 143, 0.78);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6.7px;
  cursor: pointer;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(40, 96, 143, 0.78);
  border-radius: 25px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(3, 0, 0, 0), 0px 0px 0px rgba(29, 0, 0, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #333333;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(40, 96, 143, 0.78);
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: rgba(40, 96, 143, 0.78);
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(3, 0, 0, 0), 0px 0px 0px rgba(29, 0, 0, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #333333;
  cursor: pointer;
  height: 6.7px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(40, 96, 143, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(40, 96, 143, 0.78);
}








.site-bg-login {
    width: 100%;
    height: 100%;
    background-image: url(../images/bg_photo3.jpg);   
    display: block;
    position: absolute;
    color: #eee;
}
#success_message{ 
    display: none; 
    margin: 100px;
}
/*.row {
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-left:0px !important;
    margin-right:0px !important;
}*/

.gravi-table > thead > tr > th {
    text-align: center;
}
.gravi-table > tbody > tr:hover {
    background-color: #eee;
}
.gravi-table > tbody > tr > td {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*----------------------- SITES -----------------------*/

/*--------------- ABOUT US ---------------*/

.about-us-site .row .main-box {
    width: 100%;
    max-width: 1300px;
}
.about-us-site .row .main-box .well #info {
    margin-top: 20px;
    font-size: 14px;
}

/*--------------- MY ACCOUNT ---------------*/

.main-box {
    margin: 25px 0px 25px 15px;
    text-align: center;
    overflow: auto;
}
.my-account-site .row .right-box {
    width: 40%;
    width: 350px;
    margin: 25px 15px 25px 0;
    height: 100%;
}

div.simulator {
    position: relative;
    width: 60%;
    height: 60%;
    margin: auto;
}

canvas.simulator {
    width: 100%;
    height: 100%;
    background-color: rgb(30, 30, 30);
}

canvas.simulator:hover {
    cursor: crosshair;
}

.logger {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(230, 230, 230);
    border-radius: 15px;
    color: rgb(30, 30, 30);
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 0.8em;
    padding: 15px 0;
    overflow-y: scroll;
    max-height: 400px;
}

.logger div {
    padding: 0 30px;
}

.logger div:hover {
    background-color: rgba(30, 30, 30, 0.15);
}

.logger span {
    padding: 0 5px;
    white-space: pre-wrap;
}

.logger span:first-child {
    font-weight: bold;
    display: inline-block;
    text-align: right;
    width: 30px;
    border-right: 2px solid rgb(120, 120, 120);
}

.logger span.bold {
    font-weight: bold;
}

/*--------------- CONTACT ---------------*/

.contact-site .row .right-box {
    width: 40%;
    width: 440px;
    margin: 25px 15px 25px 0;
}
.contact-site .row .right-box .admin-info {
    width: 100%;
    margin-bottom: 15px;
}
.contact-site .row .right-box .admin-info .admin-image {
    width: 110px;
    margin-right: 20px;
}
.contact-site .row .right-box .admin-describtion {
    line-height: 13px;
    width: 256px;
}

@media (max-width: 1754px) {
    .row .main-box {
        /*width: 80%;*/
        min-width: initial;
    }
    .row .right-box {
        width: 80%;
        margin: 0 15px 25px 15px;
    }
    
    .row .right-box .row {
        text-align: center;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        display: flex;
    }
    .row .right-box .admin-info {
        max-width: 300px;
        min-width: 256px;
        text-align: center;
    }
    .row .right-box .admin-info .admin-image {
        width: 100%;
        margin: 0;
    }
    .row .right-box .admin-info .admin-image .user-image {
        margin: 0;
    }
    .row .right-box .admin-info .admin-describtion {
        width: 100%;
    }
}
@media (max-width: 1440px){

    /*---------------------- GENERAL ----------------------*/
    
    .row .main-box {
        width: 100%;
        min-width: initial;
    }
    .row .right-box {
        width: 100%;
        margin: 0 15px 25px 15px;
    }

    /*--------------- MY ACCOUNT ---------------*/

    .my-account-site .row .main-box {
        width: 100%;
        min-width: initial;
    }
    .my-account-site .row .right-box {
    width: 100%;   
    margin: 25px 15px 5px 15px;
    height: 100%;
    }
    .my-account-site .row .right-box .row {
        max-width: 1000px;
        text-align: initial;
        justify-content: initial;
        flex-direction: row;
        align-items: initial;
        display: flex;
    }
    .my-account-site .row .right-box .row .box {
        max-width: 493px;
        min-width: 300px;
        margin-left: 2%;
        width: 48%;
    }

}
@media (max-width: 1097px) {

    /*---------------------- GENERAL ----------------------*/

    .row .main-box {
        width: 100%;
        min-width: initial;
    }
    .row .right-box {
        width: 100%;
        margin: 0 0px 25px 0px;
    }
}
@media (max-width: 915px) {

    /*--------------- MY ACCOUNT ---------------*/
    .my-account-site .row .right-box .row .box{
    min-width: 300px;
    width: 100% !important;
    max-width: initial;
    margin-left: 0px;
    }
}